technical developments.docx
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_5.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_6.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_7.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_8.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_9.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_10.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_11.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_12.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_13.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_14.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_15.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_16.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_17.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_18.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_19.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_20.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_21.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_22.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_23.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_24.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_25.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_26.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_27.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_28.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_29.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_30.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_31.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_32.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_33.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_34.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_35.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_36.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_37.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_38.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_39.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_40.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_41.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_42.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_43.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_44.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_45.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_46.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_47.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_48.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_49.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_50.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_51.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_52.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_53.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_54.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_55.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_56.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_57.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_58.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_59.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_60.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_61.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_62.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_63.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_64.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_65.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_66.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_67.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_68.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_69.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_70.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_71.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_72.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_73.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_74.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_75.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_76.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_77.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_78.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_79.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_80.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_81.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_82.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_83.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_84.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_85.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_86.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_87.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_88.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_89.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_90.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_91.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_92.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_93.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_94.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_95.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_96.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_97.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_98.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_99.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_100.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_101.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_102.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_103.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_104.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_105.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_106.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_107.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_108.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_109.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_110.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_111.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_112.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_113.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_114.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_115.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_116.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_117.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_118.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_119.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_120.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_121.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_122.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_123.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_124.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_125.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_126.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_127.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_128.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_129.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_130.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_131.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_132.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_133.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_134.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_135.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_136.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_137.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_138.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_139.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_140.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_141.csv
test_data/poggiobaldi/FLIR_Poggio_1416_03_2025_142.csv
test_data/accademia/results/accademia_poly1_mobotix_interactive_timeseries.html
test_data/accademia/results/accademia_poly1_mobotix_thermal.png
test_data/accademia/results/accademia_poly1_mobotix_timeseries.csv
test_data/accademia/results/accademia_poly1_mobotix_timeseries.png
test_data/poggiobaldi/results/PBL_failure_debris_bottom_flir_interactive_timeseries.html
test_data/poggiobaldi/results/PBL_failure_debris_bottom_flir_thermal.png
test_data/poggiobaldi/results/PBL_failure_debris_bottom_flir_timeseries.csv
test_data/poggiobaldi/results/PBL_failure_debris_bottom_flir_timeseries.png
test_data/poggiobaldi/results/PBL_failure_debris_top_flir_interactive_timeseries.html
test_data/poggiobaldi/results/PBL_failure_debris_top_flir_thermal.png
test_data/poggiobaldi/results/PBL_failure_debris_top_flir_timeseries.csv
test_data/poggiobaldi/results/PBL_failure_debris_top_flir_timeseries.png
test_data/poggiobaldi/results/PBL_failure_scarp_flir_interactive_timeseries.html
test_data/poggiobaldi/results/PBL_failure_scarp_flir_thermal.png
test_data/poggiobaldi/results/PBL_failure_scarp_flir_timeseries.csv
test_data/poggiobaldi/results/PBL_failure_scarp_flir_timeseries.png
test_data/poggiobaldi/results/PBL_failure_scarp_left_flir_interactive_timeseries.html
test_data/poggiobaldi/results/PBL_failure_scarp_left_flir_thermal.png
test_data/poggiobaldi/results/PBL_failure_scarp_left_flir_timeseries.csv
test_data/poggiobaldi/results/PBL_failure_scarp_left_flir_timeseries.png
test_data/poggiobaldi/results/PBL_failure_scarp_left2_flir_interactive_timeseries.html
test_data/poggiobaldi/results/PBL_failure_scarp_left2_flir_thermal.png
test_data/poggiobaldi/results/PBL_failure_scarp_left2_flir_timeseries.csv
test_data/poggiobaldi/results/PBL_failure_scarp_left2_flir_timeseries.png
test_data/poggiobaldi/results/PBL_scarp_poly_flir_interactive_timeseries.html
test_data/poggiobaldi/results/PBL_scarp_poly_flir_thermal.png
test_data/poggiobaldi/results/PBL_scarp_poly_flir_timeseries.csv
test_data/poggiobaldi/results/PBL_scarp_poly_flir_timeseries.png
test_data/poggiobaldi/results/PBL_time_series_20250313_230053_flir_timeseries.csv
~$chnical developments.docx
